* {
    font-family: 'Nunito', sans-serif;
  }

body{
    background: #AED6F1;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #6FE0E4, #AED6F1, #6FE0E4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #6FE0E4, #AED6F1, #6FE0E4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    overflow: hidden;
}

main{
    overflow: hidden;
    /*background-color: yellow;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

#score {
    text-align: center;
    font-size: 60px;
    padding: 5px;
    margin: 10px;
    z-index: 99;
}

#tablero {
    width: 400px;
    height: 400px;
    margin: 10px auto;
}

#cruceta{
    display: none;
}

#idPlay {
    text-align: center;
    font-size: 30px;
    padding: 5px;
    margin: 10px;
    z-index: 99;
}

@media (max-width: 405px){

    main{
        /*background-color: red;*/
        width: 360px;
        margin: auto;
    }

    #score {
        font-size: 30px;
    }

    #tablero {
        width: 350px;
        height: 350px;
        margin: 10px auto;
    }

    #idPlay {
        height: 50%;
        margin: auto 10px;
    }

    #content{
        display: flex;
        flex-wrap: nowrap;
        justify-content:end;
        width: 90%;
    }

    .btn{
        width: 0; 
         height: 0;
        margin: auto;
        outline: 1px solid gray;
        border-bottom: 40px solid #f05a5a;
         border-left: 20px solid transparent;
         border-right: 20px solid transparent;
    }

    .btn:hover{
        background-color: rgb(170, 170, 170);
        border-bottom: 40px solid #f74f4f;
        box-shadow:5px 5px 2px rgba(0,0,0,.5);
          -moz-box-shadow:5px 5px 2px rgba(0,0,0,.5);
          -webkit-box-shadow: 5px 5px 2px rgba(0,0,0,.5);
        z-index: 99;
    }

    #up{
        grid-area: up;
        -o-transform:rotate(0deg);
        -webkit-transform:rotate(0deg);
        -moz-transform:rotate(0deg);
    }

    #down{
        grid-area: down;
        -o-transform:rotate(180deg);
        -webkit-transform:rotate(180deg);
        -moz-transform:rotate(180deg);
    }

    #left {
        grid-area: left;
        -o-transform:rotate(-90deg);
        -webkit-transform:rotate(-90deg);
        -moz-transform:rotate(-90deg);
    }

    #right {
        grid-area: right;
        -o-transform:rotate(90deg);
        -webkit-transform:rotate(90deg);
        -moz-transform:rotate(90deg);
    }

    #cruceta{
        display: grid;
        background-color: rgb(145, 145, 145);
        grid-template-areas:
            ". up ."
            "left . right"
            ". down .";
        width: 130px;
        height: 130px;
        padding: 2px;
        margin: auto;
        border-radius: 100%;
        border: 1px solid black;
    }
}